<header>
  <nav>
    <a href="/">My Books</a>
    <ul>
      <li>
        <a href="/authors">Author</a>
      </li>
      <li>
        <a href="/authors/new">Add Author</a>
      </li>
    </ul>
  </nav>
</header>